<!DOCTYPE html>

<html lang="en" xmlns="https://qaboat.azurewebsites.net/qnamaker">
<style type="text/css">
    div {
        text-align: center;
    }
</style>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div>
        <h1>WELCOME TO qaboAT</H1>
        <h3>please ask your questions below</h3>
        <br />
        <iframe src='https://webchat.botframework.com/embed/qaboat-bot?s=-e933Y3bFBI.CFpsamVUUCSXA9JhC0YMGt5YVv8eG_AlWfcGB14qXz4'
            style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
</body>

</html>